<form id="searchForm" class="search-home" method="get" action="{{ path('search_localization') }}">
	<input class="write" type="search" id="searchField" name="q" class="search" autocomplete="off" placeholder="recherchez votre prochaine expérience" style="outline:none">
	<ul class="shadow autocomplete visually-hidden" style="color:white" id="autocomplete"></ul>

	<button class="research"><i class="fas fa-search-location"></i></button>
</form>

