<div class="search-barre mt-3 mt-lg-0">
<form id="searchForm" class="search-home" method="get" action="{{ path('search_localization') }}">
	<input class="write search" type="search" id="searchField" name="q" autocomplete="off" placeholder="recherchez votre prochaine expérience" style="outline:none">
	<ul class="shadow autocomplete text-light" id="autocomplete"></ul>

	<button class="research"><i class="fas fa-search-location"></i></button>
</form>
</div>
