{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome on your project 3</h1>
    <p class ="homeTitle">
        Almost before we knew it, we had left the ground.
    </p>
    <i class="fas fa-address-book"></i>
    <p class="homeText">Almost before we knew it, we had left the ground.</p>

{% endblock %} 