{{ form_row(formVariation) }}
<div class="form-group">
    <button type="button" class="btn2 btn-primary btn2-new" data-collection="#baz">New Calendar</button>
{#    {% for variation in form %}#}
{#    <div#}
{#            id="baz"#}
{#            class="row"#}
{#            data-prototype="{{ include("offer/_baz.html.twig", {form2: form.calendars.vars.prototype})|e("html_attr") }}"#}
{#            data-index="{{ form.calendars|length > 0 ? form.calendars|last.vars.name + 1 : 0 }}">#}
{#    </div>#}
{#    {% endfor %}#}
    <div id="conteneur2">
        <div class="fils"> {{ render((controller('App\\Controller\\OfferController::addcalendar'))) }} </div>
    </div>

    <button type="button" class="btn2 btn-danger btn2-remove">Remove</button>
</div>

<script>
{#    const newItem = (e) => {#}
{#        const collectionHolder = document.querySelector(e.currentTarget.dataset.collection);#}

{#        const item2 = document.createElement("div");#}
{#        item2.classList.add("col-6");#}
{#        item2.innerHTML = collectionHolder#}
{#            .dataset#}
{#            .prototype#}
{#            .replace(#}
{#                /__name__/g,#}
{#                collectionHolder.dataset.index2#}
{#            );#}

{#        item2.querySelector(".btn2-remove").addEventListener("click", () => item2.remove());#}

{#        collectionHolder.appendChild(item2);#}

{#        collectionHolder.dataset.index2++;#}
{#    };#}

{#    document#}
{#        .querySelectorAll('.btn2-remove')#}
{#        .forEach(btn2 => btn2.addEventListener("click", (e) => e.currentTarget.closest(".col-6").remove()));#}

    document
        .querySelectorAll('.btn2-new')
        .forEach(btn2 => btn2.addEventListener("click", newItem));

</script>
