{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-4">
            <h1>Categories principales</h1>

            {% include('category/_children.html.twig') %}
        </div>
    </div>
    {% dump(categories) %}
{% endblock %}
