<div class="modal fade" tabindex="-1" id="modal-new-category">
    {% set category_id = category.id ?? 0 %}
    {{ form_start(form, {
        'action': path('category_modal_new', {'id': category_id})
    }) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Sauvegarder</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
