{% macro make_categories(categories) %}
<div class="container">
    <ul class="d-flex col">
        {% for category in categories %}
            <div class="d-flex flex-column">
                <div>
                    <li>
                        <label for="category_{{ category.id }}">{{ category.name }}</label>
                    </li>
                    {% if (category.categories|length) %}
                        {{ _self.make_categories(category.categories) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
