{% extends 'base.html.twig' %}

{% block title %}OpenSearch{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block navbar %}
    <div class="fixed-top"> {% include "_navbar.html.twig" %} </div>
{% endblock %}

{% block body %}
    {{ dump(query) }}
    {% include 'sidebar/sidebar.html.twig' %}
    <div id= "cardMap" class = "card-map">
        {% include '/search/card_offer.html.twig' %}
    </div>
    {% endblock %}
