.search-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-b {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    height: 8.5vh;
    width: 50%;
    .img-navbrand {
        height: 7.5vh;
        width: 17rem;
    }
}

@media only screen and(min-width: 992px){
    .navbar-brand {
        height: 8.5vh;
        width: 30%;
        .img-navbrand {
            width: 17rem;
        }
    }
    .search-b {
        width: 60%;
    }
}

@media only screen and(max-width: 992px){
    .connect {
        align-items: center;
        flex-direction: column;
    }
    .search {
        font-size: 15px;
    }
}

.search-barre {
    width: 100%;
}

form.search-home {
    font-family: Georgia, sans-serif;
    text-shadow: black 0.1rem 0.1rem;
    width: 100%;
}
@media screen and(max-width: 576px) {
    form.search-home {
        justify-content: center;
        margin: 20px auto 10px auto;
    }
}
@media screen and(max-width: 215px) {
    form.search-home {
        justify-content: center;
        margin: 20px auto 10px auto;
    }
}

input.write {
    border-radius: 50px;
    border: 1px solid #59ae52 ;
    text-align: center;
    width: 80%;
}

@media screen and(max-width: 576px) {
    .input.write {
        border-radius: 50px;
        border: 1px solid #59ae52;
        text-align: center;
        width: 80%;
        font-size: 0.9rem;
    }
}

button.research {
    border-radius: 50px;
    background: linear-gradient(90deg, #91de8a 4%, #63de59 46%, #8caf89 89%);
    color: white;
    min-width: 8%;
    border: none
}


ul.autocomplete {
    z-index: 100;
    position: absolute;
    top: 100%;
    list-style: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);

    font-size: 1.25rem;
    border-radius: 6px 6px 30px 30px;
    width: 28%;
    li {
        transition: transform 0.3s;
        padding: 0.2rem;
        a {
            color: #524c4c;
            text-shadow: none;
            text-decoration: none;
        }
        a:hover {
            color: #59ae52;
        }
    }
}
@media screen and(max-width: 885px) {
    ul.autocomplete {
        z-index: 100;
    position: absolute;
    top: 47%;
    list-style: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.25rem;
    border-radius: 6px 6px 30px 30px;
    }
}
@media screen and(max-width: 576px) {
    ul.autocomplete {
    z-index: 100;
    position: absolute;
    top: 64%;
    list-style: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px 6px 30px 30px;
    font-size: 1rem;
    padding-left: 5px;
    left: 3rem;
    }
}
@media screen and(max-width: 309px) {
    ul.autocomplete {
    z-index: 100;
    position: absolute;
    top: 53%;
    list-style: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px 6px 30px 30px;
    font-size: 1rem;
    padding-left: 5px;
    left: 2rem;
    }
}
@media screen and(max-width: 215px) {
    ul.autocomplete {
    z-index: 100;
    position: absolute;
    top: 48%;
    list-style: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px 6px 30px 30px;
    font-size: 1rem;
    padding-left: 5px;
    left: 1rem;
    }
}
