footer.page-footer.font-small.blue-grey.lighten-5 {
    background-color: #f5f5f5;
    padding: 4%;
}

@media screen and (max-width: 768px) {
    footer.page-footer.font-small.blue-grey.lighten-5{
        text-align: center;
    }
}

.trait-footer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
}

.informations-end {
    display: flex;
    margin-inline-start: auto;
}

@media screen and (max-width: 768px) {
    .informations-end{
        display: block;
    }
}

.end-footer {
    display: flex;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .end-footer{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .end-footer{
        display: block;
        text-align: center;
    }
}

.copyright {
    margin-left: 24px;
}
@media screen and (max-width: 768px) {
    .copyright {
        margin-left: 0;
    }
}



.list-unstyled.list-inline.text-left {
    font-size: x-large;
}

img.open-degust-footer {
    width: 100%;
}

@media screen and (max-width: 768px) {
    img.open-degust-footer{
        width: 70%;
    }
}
.list-inline-item {
    width: 10%;
    text-align: center;
    background-color: black;
    clip-path: ellipse(46% 46%);
    transition: transform 0.5s;
}
@media screen and (max-width: 1200px) {
    .list-inline-item{
        min-width: 13%;
    }
}

@media screen and (max-width: 992px) {
    .list-inline-item{
        min-width: 18%;
    }
}
@media screen and (max-width: 768px) {
    .list-inline-item{
        min-width: 7%;
    }
}
@media screen and (max-width: 576px) {
    .list-inline-item{
        width: 12%;
        max-width: 16%;
    }
}
@media screen and (max-width: 297px) {
    .list-inline-item{
        min-width: 12%;
        width: 15%;
    }
}



.fab.fa-pinterest-p, .fab.fa-linkedin-in, .fab.fa-twitter, .fab.fa-instagram, .fab.fa-facebook-f {
    color: white;
}
.confidentiality.text-right {
    margin-right: 33px;
}
@media screen and (max-width: 768px) {
    .confidentiality.text-right {
        margin-right: 0;
    }
}
