
/* vert claire*/
$primary: #59ae52;
/* violet */
$secondary: #74154D;
/* marron */
$tertiary: #947e7c;
/* or */
$tag-premium-color: #C0A312;
/* blanc */
$white:  #0A7A54;
/* noir */
$black: #323031;

