

/* vert claire*/
$primary: #59ae52;
/* violet */
$secondary: #74154D;
/* marron-gris */
$tertiary: #947e7c;
/* or */
$tag-premium-color: #C0A312;
/* vert foncé */
$fourth:  #0A7A54;
/* noir */
$black: #323031;

/* typo titre */
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", "Raleway", sans-serif;
/*typo texte*/
$secondary_font_family: Odibee, sans-serif;
