$primary: #59ae52;
$secondary: #74154D;
$tertiary: #947e7c;
$tag-premium-color: #C0A312;
$fourth: #0A7A54;
$black: #323031;
$white: white;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", "Raleway", sans-serif;
$secondary_font_family: Odibee, sans-serif;